<div class="container-fluid">
  <div class="row" style="min-height: 70vh">
    <div class="col-lg-4" style="background-color: #f2f2f2"></div>
    <div class="col-lg-4" style="background-color: #f2f2f2">
      <div style="background-color: white">
        <form class="mt-5 pt-3 pb-3" style="padding-right: 30px; padding-left: 30px">
          <h3 align="center">Đăng nhập</h3>
          <div class="mb-3">
            <label for="loginName" class="form-label">Tên đăng nhập:</label>
            <input type="text" class="form-control" id="loginName" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
            <input type="password" autocomplete="" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Ghi nhớ mật khẩu</label>
          </div>
          <button type="submit" class="btn btn-detail">Đăng nhập</button>
        </form>
      </div>
    </div>
    <div class="col-lg-4" style="background-color: #f2f2f2"></div>
  </div>
</div>
