<footer style="background-color: #f2f2f2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <p class="fw-bold">
              Công ty
            </p>
            <span>
              Giới thiệu <br>
              Trung tâm trợ giúp <br>
              Quy chế <br>
              Điều khoản sử dụng <br>
              Bảo mật thông tin <br>
              Giải quyết khiếu nại <br>
              Liên hệ
              </span>
          </div>
          <div class="col-lg-6" align="right">
            <p class="fw-bold">
              Địa chỉ công ty
            </p>
            <span>
              Công Ty Cổ Phần Foody <br>
              Lầu G, Tòa nhà Jabes 1,<br>
              số 244 đường Cống Quỳnh, phường Phạm Ngũ Lão, Quận 1, TPHCM <br>
              Giấy CN ĐKDN số: 0311828036 <br>
              do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 11/6/2012, <br>
              sửa đổi lần thứ 23, ngày 10/12/2020 <br>
              Số điện thoại: 1900 2042
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</footer>
