<div class="container-fluid" style="background-color: #f2f2f2">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="fw-bold mt-2" style="color: coral">Danh sách món</h1>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-lg-12 d-flex justify-content-center">
      <form class="row">
        <div class="col-lg-3">
          <label for="foodName" class="form-label">Tên món:</label>
          <input type="text" id="foodName" class="form-control " placeholder="vd: Bún bò" (change)="getFoodName($event)"
                 value="{{foodName}}">
        </div>
        <div class="col-lg-3">
          <label for="foodPrice" class="form-label">Giá món:</label>
          <input type="text" id="foodPrice" class="form-control " placeholder="vd: 15.000"
                 (change)="getFoodPrice($event)"
                 value="{{foodPrice}}">
        </div>
        <div class="col-lg-3">
          <label for="category" class="form-label">Nhóm món:</label>
          <br>
          <select class="form-control" name="" id="category" (change)="getCategoryId($event)">
            <option selected [value]="0">--Chọn nhóm món--</option>
            <option *ngFor="let obj of categoryList" [value]="obj.categoryId">
              {{obj.categoryName}}
            </option>
          </select>
        </div>
        <div class="col-lg-3" style="margin-top: 28px">
          <button class="btn btn-detail"
                  (click)="getAllFood(this.currentPage, this.foodName,this.foodPrice, this.categoryId)">
            Tìm kiếm
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 mt-3">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let food of foodList">
          <div class="card">
            <img [src]="food.foodImage" class="card-img-top" alt="...">
            <div class="card-body">
              <h1 class="card-title">{{food.foodName}}</h1>
              <p style="font-size: 16px" class="card-text">{{food.foodPrice}} VNĐ</p>
              <a href="" class="btn btn-default" style="margin-right: 4px">Đặt món</a>
              <a href="" class="btn btn-detail">Thông tin món</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" align="center">
      <nav aria-label="Pagination">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
              <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path
                  d="M7 6c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1zm3.66 6.82l5.77 4.07c.66.47 1.58-.01 1.58-.82V7.93c0-.81-.91-1.28-1.58-.82l-5.77 4.07c-.57.4-.57 1.24 0 1.64z"/>
              </svg>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" style="color: black">
              <span>{{currentPage + 1}}</span>
              <span>/</span>
              <span>{{totalPages}}</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24"
                     width="24px" fill="#000000"><path
                  d="M7.58 16.89l5.77-4.07c.56-.4.56-1.24 0-1.63L7.58 7.11C6.91 6.65 6 7.12 6 7.93v8.14c0 .81.91 1.28 1.58.82zM16 7v10c0 .55.45 1 1 1s1-.45 1-1V7c0-.55-.45-1-1-1s-1 .45-1 1z"/></svg>
              </span>
            </a>
          </li>
          <li class="page-item ml-2">
            <div class="input-group">
              <input type="number" min="1" class="form-control"
                     placeholder="Tới trang..." style="width: 200px;" #pageInput>
              <div class="input-group-append">
                <button class="btn btn-detail" style="height: 38px; padding-top: 2px"
                        (click)="getPage(pageInput.value)">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path
                      d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
                  </svg>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
