<div class="container-fluid" style="background-color: #f2f2f2">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 mt-3">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/img/my_xiu.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title mb-3">Mỳ xíu</h2>
              <a href="#" class="btn btn-default">Đặt món</a>
              <button type="button" class="btn btn-detail" style="margin-left: 5px" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Chi tiết món ăn</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <table class="table table-borderless">
                        <tbody>
                        <tr>
                          <th scope="row">Tên:</th>
                          <td>Mỳ xíu</td>
                        </tr>
                        <tr>
                          <th scope="row">Giá (VNĐ):</th>
                          <td>35.000</td>
                        </tr>
                        <tr>
                          <th scope="row">Mô tả:</th>
                          <td colspan="2">Sợi mỳ vàng ăn kèm cùng với thịt gà và rau sống</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-detail" data-bs-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/com_ga.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cơm gà</h5>
              <p class="card-text">Cơm chiên giòn ăn với gà quay.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/chao_thit.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cháo thịt băm</h5>
              <p class="card-text">Cháo trắng ăn cùng với thịt băm nhuyễn.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/nem_chua.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nem chua rán</h5>
              <p class="card-text">Nem chua Hà Nội ăn cùng với tương ớt.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/bun_dau.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bún đậu mắm tôm</h5>
              <p class="card-text">Bún ăn kèm với các loại chả cùng với mắm tôm đặc trưng.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/tra_sua.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Trà sữa chân châu</h5>
              <p class="card-text">Trà được nấu chung với sữa uống cùng trân châu đen.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/com_tam_suon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cơm tấm sườn cây</h5>
              <p class="card-text">Cơm tấm ăn cùng với sườn cây.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/com_tam.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cơm tấm sườn bì chả</h5>
              <p class="card-text">Món ăn đến từ TP.Hồ Chí Minh.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/bun_bo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bún bò Huế</h5>
              <p class="card-text">Bún ăn kèm cùng rau và thịt bò được nấu theo kiểu Huế.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/tra_dao.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Trà đào cam sả</h5>
              <p class="card-text">Vị trà thanh cùng với đào và cam.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/my_quang.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mỳ Quảng</h5>
              <p class="card-text">Sợi mỳ đặc trưng của Quảng Nam ăn cùng với thịt cùng nước mỳ đậm
                đà.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/img/banh_my_ga.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bánh mỳ gà</h5>
              <p class="card-text">Thịt gà rôti ăn cùng bánh mỳ giòn tan.</p>
              <a href="#" class="btn btn-primary">Đặt món</a>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Chi tiết món ăn
              </button>
              <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
