<div class="container-fluid" style="background-color: #f2f2f2;">
  <div class="row pt-5">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" align="center">
      <div class="card mb-3" style="max-width: 900px">
        <div class="row g-0">
          <h2 style="background-color: coral">Thông tin món ăn</h2>
          <div class="col-md-4">
            <img [src]="food?.foodImage" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" align="left">
              <div class="fw-bold card-text">Tên món : <span class="fw-normal">{{food?.foodName}}</span></div>
              <div class="fw-bold card-text">Nhóm món : <span class="fw-normal">{{food?.category?.categoryName}}</span></div>
              <div class="fw-bold card-text">Mô tả món : <span class="fw-normal">{{food?.foodDescription}}</span></div>
              <div class="fw-bold card-text">Giá : <span class="fw-normal">{{food?.foodPrice}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
