<div class="card">
  <h5 class="card-header text-danger">Bạn có muốn xoá {{data.object}}</h5>
  <div class="card-body text-dark pt-2 pb-2 pl-3">
    <h5 class="card-title">Xác nhận xoá {{data.object}}:</h5>
    <p class="card-text mb-1">
      <span class="text-danger font-weight-bold">{{data.name}}</span></p>
    <small class="text-danger w-100 pt-1">Hành động này không thể hoàn tác</small>
  </div>
  <div class="card-footer p-1">
    <div class="justify-content-center float-right">
      <button class="btn m-1 pl-1 pr-1 text-white" style="background-color: gray" mat-dialog-close="">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
             viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        Huỷ
      </button>
      <button class="btn m-1 pl-1 pr-1 text-white" style="background-color: red" mat-dialog-close="yes">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-trash text-white mb-1" viewBox="0 0 16 16">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
        Đồng ý
      </button>
    </div>
  </div>
</div>
